@media only screen and (min-width:630px){

    .main-obras-sociales{
        h1{
            padding: 40px 10px 40px 10px;
            text-align: center;
            font-size: 40px;
            background-color: #ffff;
            font-family: "kadwa", "sherif";
        }
        h2{
        font-size: 100%;
        text-align: center;
        font-family: "kadwa", "sherif";
        margin-top: 5%;   
        }
        div{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 150px 150px 150px 150px 150px;
        row-gap: 15px;
        column-gap: 15px;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        img{
            height: 100%;
            width: 100%;
        }
        }
    }
}