/*-----------------------------------page-turnos-----------------------------------------*/

.h1-turnos {
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
    background-color: #ffff;
    font-family: "kadwa", "sherif";
}
.ubicacion-usuario{
    margin-left: 30px; 
    font-size: 30px;
    border-radius: 3px;
    font-family: 'Istok Web', sans-serif;
}



@media only screen and (min-width:501px) {

    .turnero {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .Datos-paciente {
        padding: 4% 6% 4% 6%;
        background-color: #c42340;
        margin: 20px;
        border-radius: 10px;
    }

    .Datos-paciente h2 {
        font-family: "Kadwa";
        color: #ffff;
    }

    .formulario-paciente {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .formulario-paciente input {
        margin: 10px;
        border-radius: 5px;
        border: 1px #212529 solid;
    }

    .Datos-medico {
        padding: 4% 6% 4% 6%;
        background-color: #c42340;
        margin: 20px;
        border-radius: 10px
    }
    .Datos-medico h2 {
        font-family: "kadwa";
        color: #ffff;
        text-align: center;
    }

    .Datos-medico p {
        font-family: "istok web";
        color: #ffff;
        text-align: center;
    }

    .Formulario-medico {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .fecha-hora {
        display: flex;
        flex-direction: row;
    }

    .fecha {
        border-radius: 3px;
        border: 1px #212529 solid;
        margin-right: 5%;
    }

    .hora {
        border-radius: 3px;
        border: 1px #212529 solid;
    }

    .Formulario-medico p {
        font-size: 80%;
        color: #ffff;
    }
}
/*----------------------------------------------fin page-turnos--------------------------------------------*/