/*-----------------------------------page-turnos-----------------------------------------*/

.h1-turnos {
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
    background-color: #ffff;
    font-family: "kadwa", "sherif";
}
.ubicacion-usuario{
    margin-left: 30px; 
    font-size: 30px;
    border-radius: 3px;
    font-family: 'Istok Web', sans-serif;
}



@media only screen and (min-width:700px) {
    .titulo-turnos{
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10,30px);
        background-image: url(/images/card-1-img.svg);
        background-size: cover;
        height: 300px;
        width: 100%;
        &::before{
            position: absolute;
            content:"" ;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(90deg, #C42340C7 50%, #242F9B63 100%);
        }
        .map{
            grid-row: 1/3;
            grid-column: 1/3;
            justify-self: center;
            align-self: center;
            z-index: 1;
            a{
                color: #fff;
                margin-left: 10px;
                &:hover{
                    color: #4b968f;
                }
            }
        }
        .h1-turnos {
            color: #fff;
            grid-row: 4/7;
            grid-column: 1/7;
            text-align: center;
            margin-left: 5%;
            font-size: 40px;
            background-color: transparent;
            font-family: "kadwa", "sherif";
            justify-self: center;
            align-self: center;
            z-index: 1;
        }
    }

    .turnero {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .Datos-paciente {
        padding: 4% 6% 4% 6%;
        background-color: #c42340;
        margin: 20px;
        border-radius: 10px;
    }

    .Datos-paciente h2 {
        font-family: "Kadwa";
        color: #ffff;
    }

    .formulario-paciente {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .formulario-paciente input {
        margin: 10px;
        border-radius: 5px;
        border: 1px #212529 solid;
    }

    .Datos-medico {
        padding: 4% 6% 4% 6%;
        background-color: #c42340;
        margin: 20px;
        border-radius: 10px
    }
    .Datos-medico h2 {
        font-family: "kadwa";
        color: #ffff;
        text-align: center;
    }

    .Datos-medico p {
        font-family: "istok web";
        color: #ffff;
        text-align: center;
    }

    .Formulario-medico {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .fecha-hora {
        display: flex;
        flex-direction: row;
    }

    .fecha {
        border-radius: 3px;
        border: 1px #212529 solid;
        margin-right: 5%;
    }

    .hora {
        border-radius: 3px;
        border: 1px #212529 solid;
    }

    .Formulario-medico p {
        font-size: 80%;
        color: #ffff;
    }
}
/*----------------------------------------------fin page-turnos--------------------------------------------*/