@media only screen and (max-width:629px) {
    .h1-profesionales {
        padding: 30px 5px 20px 5px;
        text-align: center;
        font-size: 30px;
        background-color: #212529;
        color: #fff;
        font-family: "kadwa", "sherif";
    }

    .especialidades {
        display: grid;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-columns: auto;
        row-gap: 20px;
        margin-top: 10px;
        padding: 0px 5px 5px 5px;

    }

    .especialidad-1 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-1.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .especialidad-2 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-2.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .especialidad-3 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-3.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .especialidad-4 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-4.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .especialidad-5 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-5.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .especialidad-6 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-6.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 1px #212529 solid;
        border-radius: 5px;
    }

    .carteles {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 170px 170px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cartel-medico {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .Nombre-medico {
        font-family: 'Istok Web', sans-serif;
        font-size: 90%;
    }

    .img-medico {
        height: 75px;
        width: 75PX;
    }
}