@media only screen and (max-width:699px) {
    .titulo-profecionales{
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10,30px);
        background-size: cover;
        height: 200px;
        width: 100%;
        &::before{
            position: absolute;
            content:"" ;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(90deg, #C42340C7 50%, #242F9B63 100%);
        }
        .map{
            font-size: 12px;
            grid-row: 1/3;
            grid-column: 1/6;
            justify-self: center;
            align-self: center;
            z-index: 1;
            a{
                color: #fff;
                margin-left: 10px;
                &:hover{
                    color: #4b968f;
                }
            }
        }
        .h1-profesionales {
            color: #fff;
            grid-row: 3/6;
            grid-column: 1/9;
            text-align: center;
            margin-left: 20%;
            font-size: 20px;
            background-color: transparent;
            font-family: "kadwa", "sherif";
            justify-self: center;
            align-self: center;
            z-index: 1;
        }
    }

    .especialidades {
        display: grid;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-columns: auto;
        row-gap: 20px;
        margin-top: 10px;
        padding: 0px 5px 5px 5px;
    }
    .especialidad-1 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-1.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }
    .especialidad-2 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-2.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }
    .especialidad-3 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-3.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }

    .especialidad-4 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-4.webp);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }

    .especialidad-5 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-5.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }

    .especialidad-6 {
        display: flex;
        font-size: 100%;
        background-image: url(../images/especialidad-6.jpg);
        justify-content: center;
        align-items: center;
        background-size: 100% 300px;
        border: 2px #4b968f solid;
        border-radius: 5px;
    }

    .carteles {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 170px 170px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cartel-medico {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .Nombre-medico {
        font-family: 'Istok Web', sans-serif;
        font-size: 90%;
    }

    .img-medico {
        height: 75px;
        width: 75PX;
    }
}