@media only screen and (max-width:699px) {
    .titulo-turnos{
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10,30px);
        background-image: url(/images/card-1-img.svg);
        background-size: cover;
        height: 300px;
        width: 100%;
        &::before{
            position: absolute;
            content:"" ;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(90deg, #C42340C7 50%, #242F9B63 100%);
        }
        .map{
            font-size: 13px;
            grid-row: 1/3;
            grid-column: 1/5;
            justify-self: center;
            align-self: center;
            z-index: 1;
            a{
                color: #fff;
                margin-left: 10px;
                &:hover{
                    color: #4b968f;
                }
            }
        }
        .h1-turnos {
            color: #fff;
            grid-row: 4/7;
            grid-column: 1/9;
            text-align: center;
            margin-left: 20%;
            font-size: 20px;
            background-color: transparent;
            font-family: "kadwa", "sherif";
            justify-self: center;
            align-self: center;
            z-index: 1;
        }
    }
    .turnero {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        background-color: #ffff;
    }

    .Datos-paciente {
        padding: 5%;
        background-color: #c42340;
        margin: 5%;
        border-radius: 10px;
    }

    .Datos-paciente h2 {
        font-family: "Kadwa";
    }

    .formulario-paciente {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .formulario-paciente input {
        margin: 5%;
        border-radius: 5px;
        border: 1px #212529 solid;
        width: 100%;
    }

    .Datos-medico {
        padding: 5%;
        background-color: #c42340;
        margin: 5%;
        border-radius: 10px
    }

    .Datos-medico h2 {
        font-family: "kadwa";
        text-align: center;
    }

    .Datos-medico p {
        font-family: "istok web";
        text-align: center;
    }

    .Formulario-medico {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .Formulario-medico select {
        margin: 5%;
        border-radius: 5px;
        border: 1px #212529 solid;
    }

    .fecha-hora {
        display: flex;
        flex-direction: row;
    }

    .fecha {
        border-radius: 3px;
        border: 1px #212529 solid;
        margin-right: 5%;
    }

    .hora {
        border-radius: 3px;
        border: 1px #212529 solid;

    }

}