 /*------------------------------efectos page-profecionales----------------------------*/

@keyframes efecto-carteles{
    0%{
        
    }
    50%{
        font-size: 88%;
        justify-self: center;
        align-self: center;
    }
    100%{
        color: #4b968f;
        background-color: #ffff;
    }
}
@keyframes efecto-footer{
    0%{
        background-color: transparent;
    }
    80%{
        background-color: #fff;
        color: black;
    }
    100%{
        background-color: #fff;
        color: black;
        border-radius: 6px;
    }
}
